body {
    text-align: center;
}

h1{
    background-color: aqua;
    text-decoration: underline black;
    text-shadow: 2px 2px 3px #56020291;
    border-radius: 5px;
}

button {
    background-color: rgba(116, 232, 247, 0.255);
    color: rgb(0, 0, 0);
    border: 2px black;
    border-radius: 10px;
    height: 42px;
    width: 180px;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 0px 1px 2px #fe0404b6;
    transition: all ease 0.2s;
    box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.579);
}

button:hover{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.579);
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 2rem;
    transition: all ease 0.2s;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.btn-container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: rgba(198, 198, 74, 0.806);
}

.red {
    background-color: rgba(186, 75, 75, 0.82);
}

.purple {
    background-color: rgba(189, 87, 189, 0.811);
}

.green {
    background-color: rgba(91, 192, 91, 0.801);
}

.flash {
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.906);
}




/* footer css */

footer {
    color: #0b0000;
    text-align: center;
    padding: 20px;
}

.credit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.credit img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.credit p {
    margin: 0;
}

.credit span {
    font-weight: bolder;
}



/* responsive */
@media (max-width: 550px){
    .btn {
        height: 150px;
        width: 150px;
        border-radius: 20%;
        border: 4px solid black;
        margin: 1rem;
    }

    .credit img {
        width: 60px;
        height: 60px;
        margin-right: 7px;
    }
}

@media (max-width: 370px){
    .btn {
        height: 130px;
        width: 130px;
        border-radius: 20%;
        border: 4px solid black;
        margin: 0.8rem;
    }

    .credit img {
        width: 40px;
        height: 40px;
        margin-right: 4px;
    }
}